<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
</head>

<body>

    <div class="profileContainer">
    {{#robotUsers}}
        <div class="profileWrapper">
            <a href="users/{{id}}">
            <img class="img" src="{{avatar}}">
            </a>
            <p class="name">{{name}}</p>
            {{#job}}
            <p class="jobDesc">{{job}}, {{company}}</p>
            {{/job}} {{^job}}
            <p class="forHire">Available for hire</p>
            {{/job}}
        </div>
    {{/robotUsers}}        
    </div>

</body>

</html>